#page-create-point {
    width: 90%;
    max-width: 1100px;

    /* Alinhamento padrão de caixa pelo lado fora */
    margin: 0 auto;
}

#page-create-point header {
    margin-top: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');

    display: flex;

    width: 20px;
    height: 24px;
}

form {
    background-color: var(--form-bkg-color);

    margin: 80px auto;
    padding: 64px;

    border-radius: 8px;
    
    max-width: 730px;
}

form h1 {
    font-size: 36px;
}

form fieldset {
    margin-top: 64px;

    border: 0;
}

form legend {
    margin-bottom: 40px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

form legend h2 {
    font-size: 24px;
}

form legend span {
    font-size: 14px;
    color: var(--title-color);
}

form .field {
    flex: 1;

    display: flex;
    flex-direction: column;

    margin-bottom: 24pX;
}
form .field-group {
    display: flex;
}

form input {
    background-color: var(--after-bkg-color);
    
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 8px;
    outline: var(--primary-color);
}

form select {
    background-color: var(--after-bkg-color);
    
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    
    /* outline: none;  Marca a linha de fora do input para o usuário
     saber que está no campo*/

     border-radius: 8px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;

    background-color: var(--primary-color);
    border-radius: 8px;

    color: var(--bkg-color);
    font-weight: bold;
    font-size: 16px;

    border: 0;

    margin-top: 40px;

    transition: background-color 400ms;
}

form button:hover {
    background-color: var(--btn-hover-color);
}

.items-grid {
    /* O grid é para criar o efeito de tabela */
    display: grid;
    /* o fr faz o grid efetuar o melhor ajuste. No caso abaixo
    e ele entende que há 3 ítens por linha. Então ele joga os demais
    para as linhas de baixo */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px; 
}

.items-grid li {
    background-color: var(--grid-li-bkg-color);
    list-style: none; /* Tira o marcador da lista */

    border: 2px solid var(--grid-li-brd-color);
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    cursor: pointer;
}

.items-grid li span {
    margin-top: 12px;

    flex: 1;
    display: fle;
    align-items: center;

    color: var(--title-color);
}

/* Estilizando uma classe dentro de um elemento */
.items-grid li.selected {
    background: var(--grid-li-bkg-sel-color);
    border: 2px solid var(--grid-li-brd-sel-color);
}

.items-grid li img,
.items-grid li span {
    pointer-events: none;
}

/* ################################## */
/* DARK MODE */
/* ################################## */

body[dark] > #page-create-point header a {
    color: var(--dk-title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

body[dark] form {
    background-color: var(--dk-form-bkg-color);

    margin: 80px auto;
    padding: 64px;

    border-radius: 8px;
    
    max-width: 730px;
}

body[dark] form legend span {
    font-size: 14px;
    color: var(--dk-title-color);
}

body[dark] form input {
    background-color: var(--dk-after-bkg-color);
    
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 8px;
    outline: var(--dk-primary-color);
}

body[dark] form select {
    background-color: var(--dk-after-bkg-color);
    
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    
    /* outline: none;  Marca a linha de fora do input para o usuário
     saber que está no campo*/

     border-radius: 8px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body[dark] form button {
    width: 260px;
    height: 56px;

    background-color: var(--dk-primary-color);
    border-radius: 8px;

    color: var(--dk-bkg-color);
    font-weight: bold;
    font-size: 16px;

    border: 0;

    margin-top: 40px;

    transition: background-color 400ms;
}

body[dark] form button:hover {
    background-color: var(--dk-btn-hover-color);
}

body[dark] > .items-grid li {
    background-color: var(--dk-grid-li-bkg-color);
    list-style: none; /* Tira o marcador da lista */

    border: 2px solid var(--dk-grid-li-brd-color);
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    cursor: pointer;
}

body[dark] > .items-grid li span {
    margin-top: 12px;

    flex: 1;
    display: fle;
    align-items: center;

    color: var(--dk-title-color);
}

/* Estilizando uma classe dentro de um elemento */
body[dark] > .items-grid li.selected {
    background: var(--dk-grid-li-bkg-sel-color);
    border: 2px solid var(--dk-grid-li-brd-sel-color);
}
