#page-home {/* Imagem no background */
    height: 100vh; /* Faz o elemento ocupar 100% da altura da página */

    background: url('../assets/home-background.svg') no-repeat;
    background-position: 35vw bottom; /* Marca a posição do elemento do rodapé pra cima */
}

#page-home .content {
    width: 90%; /* Define a largura responsiva (%) em pixels é fixa */
    max-width: 1100px; /* Define a largura máxima permitida */
    height: 100%;
    
    margin: 0 auto; /* 0 para top e bottom e auto para left e right */
    
    display: flex;
    flex-direction: column;
}

#page-home header {
    display: flex; /* Alinha elementos lado a lado */
    align-items: center; /* Alinha elementos horizontalmente */
    justify-content: space-between; /* Justifica os elementos de dentro com um espaço entre eles */
}

#page-home header a {
    margin-top: 48px; /* margem superior */
    display: flex; /* alinha horizontalmente os elementos */
    color: var(--txt-color);
    font-weight: 700;
}

#page-home header a span {
    margin-right: 16px; /* margem para separar o ícone do link */
    display: flex;

    background-image: url('../assets/log-in.svg');
    height: 20px;
    width: 20px;
}

#page-home main {
    max-width: 560px;
    
    flex: 1; /* Porque se usou "display: flex;" e "flex-direction: column;"
    no "#page-home .content" agora pode-se usar o "flex: 1;" que preenche 
    automaticamente todo o espaço que tiver */

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1 {
    font-size: 54px;
}

#page-home main p {
    font-size: 24px;
    line-height: 38px;/* Define a altura da linha do texto */
    margin-top: 24px;
    color: var(--txt-color);
}

#page-home main a {
    width: 100%;
    max-width: 360px;
    height: 72px;

    border-radius: 8px; /* Atalho para arredondar todas as bordas ao mesmo tempo*/
    display: flex;
    align-items: center;

    margin-top: 40px;

    background-color: var(--primary-color);
    transition: 400ms; /* Duração das mudanças do hover */
}

#page-home main a:hover { /* Permite alterações de estilo ao passar do mouse */
    background-color:var(--btn-hover-color);
}

#page-home main a span {
    width: 72px;
    height: 72px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    background-color:var(--primary-color);

    /* Estilizações que afetam o "::after" */
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-home main a span::after{ /* Usa-se "::" para criar pseudoelemntos que não existem no Html  */
    content: ""; /* Para colocar o novo elemento no span */
    background-image: url('../assets/search.svg');

    width: 20px;
    height: 20px;
}

#page-home main a strong {
    color: var(--btn-txt-color);
    flex: 1; /* Para fazer preencher toda a caixa */

    text-align: center; /* Alinhando o texto dentro do strong */
}

/* ################################## */
/* DARK MODE */
/* ################################## */

body[dark] > #page-home header img {
    background-color: var(--form-bkg-color);
    padding: 3px;
    border-radius: 0 10px 0 10px;
}

body[dark] > #page-home header a {
    margin-top: 48px; /* margem superior */
    display: flex; /* alinha horizontalmente os elementos */
    color: var(--dk-txt-color);
    font-weight: 700;
}

body[dark] > #page-home main a {
    width: 100%;
    max-width: 360px;
    height: 72px;

    border-radius: 8px; /* Atalho para arredondar todas as bordas ao mesmo tempo*/
    display: flex;
    align-items: center;

    margin-top: 40px;

    background-color: var(--dk-primary-color);
    transition: 400ms; /* Duração das mudanças do hover */
}

body[dark] > #page-home main a:hover { /* Permite alterações de estilo ao passar do mouse */
    background-color:var(--dk-btn-hover-color);
}

body[dark] > #page-home main a span {
    width: 72px;
    height: 72px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    background-color:var(--dk-modal-bkg-color);

    /* Estilizações que afetam o "::after" */
    display: flex;
    align-items: center;
    justify-content: center;
}

body[dark] > #page-home main a strong {
    color: var(--dk-btn-txt-color);
    flex: 1; /* Para fazer preencher toda a caixa */

    text-align: center; /* Alinhando o texto dentro do strong */
}


body[dark] > #page-home main p {
    font-size: 24px;
    line-height: 38px;/* Define a altura da linha do texto */
    margin-top: 24px;
    color: var(--dk-txt-color);
}