:root { /* Seletor para referenciar a raiz da aplicação e usar variáveis */
    --title-color: #322153; /* Atalho para cores do sistema */
    --primary-color: #34cb79; /* Cor padrão do botão */
}

* { /* Seletor para manipular todos os elemontos da aplicação */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased; /* Torna a fonte mais agrável de se ver */
}

a {
    text-decoration: none; /* tira o sublinhados dos links */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}
