:root { /* Seletor para referenciar a raiz da aplicação e usar variáveis */
    /* Cores modo Light */
    --primary-color: #34cb79; /* Cor padrão do botão */
    --bkg-color: #f0f0f5;
    --after-bkg-color:white;
    --title-color: #322153; /* Atalho para cores do sistema */
    --txt-color: black;
    --logo-bkg:  #bebdc2;
    --logo-words: #322153;

    --modal-bkg-color: rgba(0, 0, 0, 0.08); /* RGB Alfa "rgba(0red, green, blue, alpha);"*/
    --modal-txt-color: white;

    --form-bkg-color: #e1e1ec;
    --input-txt-color: #5e5e75;
  
    --btn-txt-color: white;
    --btn-brd-color: #b9f7c8;
    --btn-hover-color: #2fb85e;
  
    --grid-li-bkg-color: #e3ffef;
    --grid-li-brd-color: #b9f7c8;
    --grid-li-bkg-sel-color: #c9f7dd;
    --grid-li-brd-sel-color: #61ce94;

    /* ################################## */
    /* Cores modo Dark */
    /* ################################## */

    --dk-primary-color: #34cb79; /* Cor padrão do botão */
    --dk-bkg-color: #070707;
    --dk-after-bkg-color:rgb(255, 255, 255);
    --dk-title-color: #ffffff; /* Atalho para cores do sistema  */
    --dk-txt-color: rgb(228, 231, 223);

    --dk-modal-bkg-color: rgba(2, 2, 2, 0.08); /* RGB Alfa "rgba(0red, green, blue, alpha);"*/
    --dk-modal-txt-color: white;

    --dk-form-bkg-color: #716a72;
    --dk-input-txt-color: #000000;
  
    --dk-btn-txt-color: white;
    --dk-btn-brd-color: #b9f7c8;
    --dk-btn-hover-color: #2fb85e;
  
    --dk-grid-li-bkg-color: #e1faf0;
    --dk-grid-li-brd-color: #b9f7c8;
    --dk-grid-li-bkg-sel-color: #cdf8df;
    --dk-grid-li-brd-sel-color: #2fb86e;


}

* { /* Seletor para manipular todos os elemontos da aplicação */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background: var(--bkg-color); /* #daa514 */ 
    -webkit-font-smoothing: antialiased; /* Torna a fonte mais agrável de se ver */
}

a {
    text-decoration: none; /* tira o sublinhados dos links */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

#dk-label {
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

/* ################################## */
/* DARK MODE */
/* ################################## */

body[dark] {
    background: var(--dk-bkg-color);/*   #e0e016; */
    -webkit-font-smoothing: antialiased; /* Torna a fonte mais agrável de se ver */
}

body[dark] h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--dk-title-color);
}

body[dark] > #dk-label a {
    color: var(--dk-txt-color); /* darkorange */ 
    font-size: 14px;
    font-weight: bold;
}
