#modal {
    background-color: #0E0A14ef; /* O "ef" é o alfa permite variar
    a cor para dar a impressão de transparência */
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 400ms;
}

#modal.hide { /* Não tem espaço porque é a classe e não 
                um elemento dentro do modal */
display: none;
}

#modal .content {
    color: var(--modal-txt-color);

    width: 420px;
}

#modal .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 48px;
}

#modal .header a {
    background-image: url(../assets/x.svg);

    width: 20px;
    height: 20px;

    display: flex;
    font-size: 0.01px; /* Fonte pequena para ajuda em leitores de tela */
}

#modal .header h1 {
    color: var(--modal-txt-color);

    font-size: 36px;
    line-height: 42px;
}

#modal form label {
    font-size: 14px;
    line-height: 16px;

    display: block;
    margin-bottom: 8px;
}

#modal form .field {
    display: flex;
}

#modal form input {
    flex: 1;

    background-color: var(--modal-txt-color);

    border-radius: 8px 0 0 8px;
    border: 0;

    padding: 16px 24px;

    font-size: 16px;
    color: var(--input-txt-color);
}

#modal form button {
    width: 72px;
    height: 72px;

    background-color: var(--primary-color);

    border: 0;
    border-radius: 0 8px 8px 0;
}

#modal form button:hover {
    background-color: var(--btn-hover-color);
}

/* Esta estilização é para o modal do point-created.html */
#modal.point .content {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#modal.point h1 {
    color: var(--modal-txt-color);

    margin-top: 32px;
}

/* ################################## */
/* DARK MODE */
/* ################################## */


body[dark] > #modal .content {
    color: var(--dk-modal-txt-color);

    width: 420px;
}

body[dark] > #modal .header h1 {
    color: var(--dk-modal-txt-color);

    font-size: 36px;
    line-height: 42px;
}

body[dark] > #modal form input {
    flex: 1;

    background-color: var(--dk-modal-txt-color);

    border-radius: 8px 0 0 8px;
    border: 0;

    padding: 16px 24px;

    font-size: 16px;
    color: var(--dk-input-txt-color);
}

body[dark] > #modal form button {
    width: 72px;
    height: 72px;

    background-color: var(--dk-primary-color);

    border: 0;
    border-radius: 0 8px 8px 0;
}

body[dark] > #modal form button:hover {
    background-color: var(--dk-btn-hover-color);
}

body[dark] > #modal.point h1 {
    color: var(--dk-modal-txt-color);

    margin-top: 32px;
}
